@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Antonio', sans-serif;
    height:100vh;
    width:100vw;

}

.relative{
    position:relative;
}

.text-white{
    color:white;
}

.text-blue{
    color:rgb(43, 87, 231)
}

.img{
    height:100%;
    position:relative;
    top:30px;
    left:40px;
    float:right;
    opacity:.25;
}

.overlay{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-image:url('assets/fib.png');
    background-size:contain;
    background-position-x:75%;
    background-repeat:no-repeat;
    opacity:.4;

}

.shadow-black{
    text-shadow:1px 1px 1px black;
}

.main{
    height:55vh;
    width:100%;
    background-image:url("./assets/beartribe.jpeg");
    background-size:contain;
    background-repeat:no-repeat;
}

.bottom{
    height:30vh;
    position:relative;
    /* background:gray; */
}

.mt-2{
    margin-top:2px;
}

.text-center{
    text-align:center;
}

.l-spacing{
    letter-spacing:5px;

}

.bg-blue{
    background:rgb(43, 87, 231)
}

.p-2{
    padding:2em;
}

.shadow-white{
    text-shadow:1px 1px 5px white;
}

.absolute{
    position:absolute;
}


.card{
    border:1px solid black;
    /* border-radius:400px; */
    width:75%;
    height:200px;
    transform:translateX(15%)translateY(10%);
    background:lightgray;
}


.select{
    margin-top:1em;
    width:100px;
    height:25px;
}

label{
    font-size:20px;
}















.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
  }
  .confetti:nth-child(1) {
    background-color: #f2d74e; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(2) {
    background-color: #95c3de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(3) {
    background-color: #ff9a91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
  }

  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
  }
  